<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="../public/css/style.css">
    </head>
    <body>
        <div class="background-home">
            <div class="dark-box">
            
                <header>
                    <div class="burger">
                    <span></span>
                        <div class="burger-content">
                            
                            <a href="#header">text 1</a>                                                         
                            
                            <a href="#about-me">text 2</a>                        
                            
                            <a href="#project">text 3</a>  
                                                      
                            <a href="#knowledge">text 4</a>  
                            
                        </div>
                    </div>

                    <div class="box-row p"> 
                         
                        <img class="logo-header" src="../public/ico/logo-diantaba.png" alt="Logo Diantaba">
                        <h3>DIANTABA</h3> 
                        
                    </div>

                    <div class="box-link">
                        <img src="../public/ico/user.png" alt="">
                        <img src="../public/ico/shopping.png" alt="">
                    </div>

                </header>

            </div>

        </div>
        
        
    </body>
    <script src="../public/js/burger.js"></script>
</html>